<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>IT Components Store</title>
    <header th:replace="~{/fragments/layout :: header}"></header>
</head>
<body>

<div class="container">
    <div class="row gy-3">
        <th:block th:each="productDto: ${productList}">
            <div class="col-4">
                <div class="card" style="width: 18rem;">

                    <img class="card-img-top" th:src="@{${productDto.imageUrl}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">[[${productDto.name}]]</h5>
                        <p class="card-text">[[${productDto.description}]] </p>
                        <p class="card-text"> stock magazin [[${productDto.quantity}]] </p>
                        <a th:href="@{/details/{idCategory}/products/{idProduct}(idCategory=${productDto.categoryId}, idProduct = ${productDto.idProduct})}">Detalii</a>
                        <p class="card-text">[[${productDto.price}]] RON </p>
                        <form action="#"
                              th:action="@{/add/cart/{id}/{idCategory}/{page}(id=${productDto.idProduct},idCategory=${productDto.categoryId}, page=${currentPage})  }"
                              th:method="post">
                            <button type="submit" class="btn btn-sm btn-primary">Adauga in cos</button>
                            <input type="number" min="1" max="50" class="form-control float-right col-3" name="quantity"
                                   th:value="${quantity}" placeholder="1">

                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <div class="row gy-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:if="${currentPage !=0}" class="page-item"><a class="page-link" th:href="@{/category/{id}/page/{page}(id =${categoryId},page=${currentPage-1} )} ">Inapoi</a></li>


                <li th:each="i:${#numbers.sequence(0,totalPages-1)}"  th:classappend="${currentPage==i ? 'active' : '' }"  class="page-item">

                    <a class="page-link" th:href="@{/category/{id}/page/{page}(id =${categoryId},page=${i})}">[[${i}]]</a>

                </li>

                <li th:if="${currentPage+1!=totalPages}" class="page-item"><a class="page-link" th:href="@{/category/{id}/page/{page}(id =${categoryId},page=${currentPage+1} )} ">Urmatorul</a></li>
            </ul>
        </nav>
    </div>






</div>


</body>
</html>