<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <h1 class="error">403 Acces nepermis</h1>
                    <h4>Oops! Nu esti autorizat sa faci asta !</h4>
                    <p> Nu sunteti autorizat pentru a accesa aceasta resursa! </p>
                    <a th:href="@{/login}" class="btn btn-primary btn-round">Du-te la pagina principala</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>